$cream: #fbffeb;
$cream2: #e4e0cf;
$cactusMint: #1fceac;
$sunsetYellow: #e1c51b;
$pacificAzure: #1eabf0;
$sunburnOchre: #ec612e;
$deepSpace1: #082740;
$deepSpace2: #111824;
$sand: #efdfb1;
$leather: #b38556;