header, nav {
  position: relative;
}

.ochapo-wedding-type {
  @include animation(250ms ease-out 1400ms both animate-header-in);
  position: absolute;
  width: 100vw;
  height: rem($baseline * 8);
  overflow: hidden;
  top: 0;
  
  img {
    position: absolute;
    width: 104vw;
    top: -2vw;
    left: -2vw;
    margin-right: -2vw;
  }
}

nav.top-nav {
  z-index: 2;
  @include animation(200ms ease-in 1100ms both fade-in);

  h6 {
    padding: 2px 0;
  }

  ul {
    position: absolute;
    top: rem($baseline * 3);
    left: 4vw;
    z-index: 99;
    padding: 0;
    margin: -6px 0 0 0;

    li {
      text-align: center;
      display: inline-block;
      list-style: none;
      padding: 0;

      &.nav-info-to-be-known {
        width: 18vw;
        margin-right: 6vw;
        margin-left: 14vw;
      }

      &.nav-our-story {
        width: 16vw;
        margin-right: 5vw;
      }

      &.nav-rsvp {
        width: 14vw;
        margin-right: 4vw;
      }

      &.nav-registry {
        width: 14vw;
      }

      a {
        @include transition(color 150ms ease-out);
        text-decoration: none;
        color: $cream;
        text-transform: uppercase;
        font-family: $header-font-stack;
        font-weight: 900;
        line-height: rem($baseline);

        &:hover {
          color: $sunburnOchre;
        }
      }

      &.active {
        background-color: $cream2;
        border-radius: 6px;
        padding: 4px 0;
        position: relative;

        a {
          margin-left: -6px;
          width: calc(100% + 12px);
          background-color: $cream;
          border-radius: 6px;
          display: block;
          color: $deepSpace1;

          &:hover {
            color: $sunburnOchre;
          }
        }

        &:before {
          @include animation(500ms ease-out 1600ms both scale-nav-star-in);
          width: 100px;
          height: 100px;
          display: block;
          position: absolute;
          content: ' ';
          background-image: url('/images/nav-select.svg');
          background-repeat: no-repeat;
          background-position: center top;
          background-size: 100px 100px;
          top: -34px;
          left: 50%;
          z-index: -1;
          margin-left: -50px;
        }
      }
    }
  }
  
  img {
    height: 200px;
    z-index: 10;
    position: relative;
    display: block;
    margin: 0 auto;
  }
}  

.animate-page-out {

  .ochapo-wedding-type {
    @include animation(250ms ease-in 200ms both animate-header-out);
  }

  nav.top-nav ul li.active:before {
    @include animation(500ms ease-in 0ms scale-nav-star-out);
  }
  .oconnor-ochapo-text, .cosmonauts {
    @include animation(300ms ease-in 100ms both fade-out);
  }
}

@keyframes animate-header-in {
  from {
    transform: translateY(-52px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-header-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-52px);
    opacity: 0;
  }
}

@keyframes scale-nav-star-in {
  from {
    transform: rotate(90deg) scale(0.8);
    opacity: 0;
  }
  to {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes scale-nav-star-out {
  from {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  to {
    transform: rotate(-90deg) scale(0.5);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include at-least($tablet) {

  nav.top-nav ul li.active:before {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    top: -84px;
    margin-left: -100px;
  }
}
