
$baseline: 26px;
$baseFontSize: 16px;

$body-font-stack: 'clavo', 'rooney-web', 'alegreya', sans-serif;
$header-font-stack: 'neuzeit-grotesk-extra-conden', 'gnuolane', 'proxima-nova-extra-condensed', sans-serif;

@function rem($px, $base: $baseFontSize) {
  @return ($px / $base) * 1rem;
}

$phone:        320px;
$phone-wide:   500px;
$tablet:       768px;
$medium-screen: 992px;
$large-screen: 1200px;
$xlarge-screen: 1440px;
$xxlarge-screen: 1920px;

/* Media Queries */

@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content
  }
}

@mixin animation($str...) {
  -webkit-animation: #{$str}; /* Safari 4+ */
  -moz-animation: #{$str};  /* Fx 5+ */
  -o-animation: #{$str};    /* Opera 12+ */
  animation: #{$str};     /* IE 10+ */
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}