
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  @include background-image(linear-gradient($deepSpace2, $deepSpace1));
  text-align: center;
  font-family: "proxima-nova-extra-condensed", sans-serif;
}

// Type Scale
// Scale is 1:2 with an interval of 4
$h1: 36px;    // 18px * 2^(4/4)
$h2: 30.27px; // 18px * 2^(3/4)
$h3: 25.46px; // 18px * 2^(2/4)
$h4: 21.41px; // 18px * 2^(1/4)
$h5: 18px;    // 18px * 2^(0/4)
$h6: 15.14px; // 18px * 2^(-1/4)
$xs: 12.73px; // 18px * 2^(-2/4)



canvas[resize] {
  width: 100%;
  height: 100%;
}