.info-to-be-known-content {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  background: linear-gradient(180deg, rgba($deepSpace1, 0), rgba($deepSpace1, 0.8) 20vh);
  padding-top: rem($baseline * 10);
  padding-bottom: rem($baseline * 4);

  .full-width-image {
    display: block;
  }

  .gutter-image {
    float: right;
    margin: 0 0 5% 5%;
  }

  .directions {
    list-style: none;
    margin: 0 0 rem($baseline * 1.5) 2vw;
    padding: 0 8vw 0 0;
    color: rgba($cream2, 0.9);

    li {
      clear: left;
      min-height: rem($baseline * 3);
      margin-bottom: rem($baseline);
    }

    img {
      width: rem($baseline * 3);
      float: left;
      padding-right: 2vw;
      padding-bottom: rem($baseline);
    }
  }

  li {
    margin-bottom: rem($baseline * 0.5);
  }

  ul {
    margin-bottom: rem($baseline * 1.5);
    color: rgba($cream2, 0.9);
  }

  h1 {
    margin-bottom: rem($baseline);
  }

  section {
    text-align: left;
  }

  h3 {
    background-image: url('/images/wavy-hr.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 277px 9px;
    padding-bottom: $baseline;
    margin-top: rem($baseline * 2);
    color: $sunsetYellow;
  }
}