.rsvp-content {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  background: linear-gradient(180deg, rgba($deepSpace1, 0), rgba($deepSpace1, 0.8) 20vh);
  padding-top: rem($baseline * 10);
  padding-bottom: rem($baseline * 4);

  section {
    text-align: left;
  }

  .help-block {
    font-size: rem($xs);
    @include opacity(0.7);
  }

  input {
    display: block;
    margin-bottom: rem($baseline * 1.25);
  }

  input[type='text'], input[type='email'] {
    @include transition(all 300ms ease-in);
    width: calc(100% - 16px);
    margin-top: rem($baseline * 0.25); 
    line-height: rem($baseline * 1.5); 
    border: 2px solid $cream;
    background-color: $cream;
    padding: 0 8px;

    &:focus {
      outline: none;
      border: 2px solid $pacificAzure;
      
    }

    &:hover {
      background-color: white;
    }
  }

  input[type='radio'] {
    margin-right: 4px;
  }

  .rsvp-spinner, .form-error-message, .rsvp-success {
    display: none;
    text-align: center;
  }

  ul {
    -webkit-padding-start: 0;
    margin-top: rem($baseline * 0.25);
    margin-bottom: rem($baseline * 1.25);
  }

  li {
    display: inline-block;
    list-style: none;

    > * {
      display: inline-block;
    }

    label:first-of-type {
      margin-right: rem($baseline)
    }

    input {
      margin-bottom: 0;
    }
  }

  input[type='submit'] {
    @include transition(all 200ms ease-in);
    @include border-radius(10px);
    border: 2px solid $pacificAzure;
    background-color: transparent;
    color: $cream;
    display: block;
    width: 100%;

    font-family: $header-font-stack;
    line-height: rem($baseline * 2);
    font-weight: 900;
    margin: 0;
    font-size: rem($h4);

    &:hover {
      color: white;
      border: 2px solid $pacificAzure;
      background-color: $pacificAzure;
    }

    &:focus {
      outline: none;
      border-color: $cream;
    }
  }
}